<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<!--평균별점집계 start-->
<div class="product_rating_area">
   <div class="inner clrfix">
      
         <div class="grade_img">
            <p class="img_face"><span class="grade grade5"></span><em>최고</em></p>
         </div>
         <div class="star_area">
            <p class="total">총 <em>2404 </em>건의 고객상품평</p>
            <p class="num"><strong>4.6</strong><span>점</span></p>
            <ul class="star_list">
				<li><span class="rating"></span><img src="./아임프롬 머그워트 에센스 160ml _ 올리브영_files/bg_rating_star.png"></li>
                <li><span class="rating"></span><img src="./아임프롬 머그워트 에센스 160ml _ 올리브영_files/bg_rating_star.png"></li>
                <li><span class="rating"></span><img src="./아임프롬 머그워트 에센스 160ml _ 올리브영_files/bg_rating_star.png"></li>
                <li><span class="rating"></span><img src="./아임프롬 머그워트 에센스 160ml _ 올리브영_files/bg_rating_star.png"></li>
                <li><span class="rating" style="width:60%;"></span><img src="./아임프롬 머그워트 에센스 160ml _ 올리브영_files/bg_rating_star.png"></li>
            </ul>
         </div>                     
         <div class="write_info">
            <dl>
               <dt>상품평을 써보세요.</dt>
               <dd>고객님의 소중한 상품평을 공유하고 <br>최대 CJ ONE 160P도 받아가세요.</dd>
            </dl>
            <p class="alignCenter"><button class="btnInquiry" id="gdasWrite" data-rel="layer" data-target="layWrite">상품평 쓰기</button></p>
         </div>
   </div>
</div>

<!--평균별점집계 end-->

<!-- 사진탭 start-->

<h3 class="tit_type thum_tit">상품평 이미지</h3>
<div class="review_thum">
	<ul class="inner clrfix">
		<li>
			<a href="javascript:;">               
				<span>
					<img src="" class="thum" alt="">
				</span>
			</a>
		</li>
	</ul>
</div>

<!-- 사진탭 end-->

<!-- 상품평 등록제한 카테고리 안내 문구 -->

<!-- 상품평 등록제한 카테고리 안내 문구 -->


<div class="cate_align_box">
   <div class="align_sort">
      <ul id="gdasSort">
         <li class="on"><a href="javascript:;" data-value="02">최신순</a></li>
         <li class=""><a href="javascript:;" data-value="01">도움순</a></li>
         <li class=""><a href="javascript:;" data-value="03">높은 별점순</a></li>
         <li class=""><a href="javascript:;" data-value="04">낮은 별점순</a></li>
      </ul>
   </div>
   
</div>
<!-- 필터end -->

<!-- 상품평 리스트 start -->
<div class="review_list_wrap">
	<ul class="inner_list" id="gdasList">
		<li>
		<div class="info">
			<span class="review_point"><span class="point" style="width:80%">5점만점에 4점</span></span>
			<div class="review_date">         
				<span class="mbrId">kss****</span>        
				<span>2019.09.03</span>        
			</div>     
		</div>         
		<div class="review_cont">                         
			<p class="txt_oneline">review_title</p>             
			<div class="txt_inner">
				review_contents
			</div>
			<div class="recom_area">    
				<button type="button" class="btn_recom "onclick="">도움이 돼요<span class="num">like_count</span></button>
			</div>   
		</div> 
		</li>
	</ul>
</div>

<!-- pageing start -->

   <div class="pageing">
      <strong title="현재 페이지">1</strong>
      <a href="productDetail.pro?product_num">2</a>
      <a href="productDetail.pro?product_num">3</a>
      <a href="productDetail.pro?product_num">4</a>
      <a href="productDetail.pro?product_num">5</a>
      <a href="productDetail.pro?product_num">6</a>
      <a href="productDetail.pro?product_num">7</a>
      <a href="productDetail.pro?product_num">8</a>
      <a href="productDetail.pro?product_num">9</a>
      <a href="productDetail.pro?product_num">10</a>
      <a class="next" href="javascript:void(0);" data-page-no="11">다음 페이지</a>
   </div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   <div class="container">
			<div class="jumbotron">
				<h2>상품 Review</h2>
				<p>* 별점 및 리뷰 작성 후 작성하기 버튼을 클릭해 주세요.</p>
			</div>

		<table class="table table-hover" id="review">
			<thead class="thead-dark">
				<tr>
					<th>#</th>
					<th>ID</th>
					<th>Title</th>
					<th>상품명</th>
					<th>별점</th>
					<th>작성일</th>
					<th>조회 수</th>
					<th>추천 수</th> 
				</tr>
			</thead>

			<tbody>
				<c:forEach var="ReviewDTO" items="${requestScope.list}">
				
				<tr class="info">
					<td>${ReviewDTO.review_num}</td>
					<td>${ReviewDTO.id}</td>
<%-- 					<td><a data-toggle="modal" data-target="#myModal2" onclick="review_read(${ReviewDTO.review_num})">${ReviewDTO.review_title}</a></td> --%>
					<td>${ReviewDTO.review_title}</td>
					<td>${ReviewDTO.review_content}</td>	
					<td>${ReviewDTO.product_num}</td>	
					
					<%-- 별점 --%>
					<c:choose>
						
						<%-- if(a == 1){ --%>
						<c:when test="${ReviewDTO.review_star == 1}">
							<td>★☆☆☆☆</td>
						</c:when>
						<%-- if(a == 2){ --%>
						<c:when test="${ReviewDTO.review_star == 2}">
							<td>★★☆☆☆</td>
						</c:when>
						<%-- if(a == 3){ --%>
						<c:when test="${ReviewDTO.review_star == 3}">
							<td>★★★☆☆</td>
						</c:when>
						<%-- if(a == 4){ --%>
						<c:when test="${ReviewDTO.review_star == 4}">
							<td>★★★★☆</td>
						</c:when>
						<%-- if(a == 5){ --%>
						<c:when test="${ReviewDTO.review_star == 5}">
							<td>★★★★★</td>
						</c:when>
						
						
					</c:choose>
					
					<td>${ReviewDTO.review_regdate}</td>
					<td>${ReviewDTO.review_cnt}</td>
					<td>${ReviewDTO.like_count}</td>
				</tr>
				
				</c:forEach>
			
			</tbody>
		</table>

		<div class="row">
			<div class="col-sm-6">
			
				<div style="text-align:left">
					<ul class="pagination" id="page_num">
						<li>
									
						
						 <% for(int i = 1 ; i<=tot ; i++){ %>
   						 
   						 	<a href="ProductDetailAction.do?product_num=<%=product_num %>&Page_num=<%=i%>"><%=i%></a>
  						 
  						 <% } %>
										
						</li>
					</ul>
				</div>
			
			
			</div>
			<div class="col-sm-2"></div>
			<div class="col-sm-4 text-success" style="text-align: right;"> 
			<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">작성하기</button>
			</div>
		</div>
		 
		
<!-- Modal -->
  	<div class="modal fade" id="myModal" role="dialog">
    	<div class="modal-dialog modal-lg">
    
      	<!-- Modal content-->
      	<div class="modal-content">
	        <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        </div>
        
        <div class="modal-body">
          
			<div class="panel-group">
			<div class="panel panel-success" style="margin-top: 10px;">
				<div class="panel-heading">Goods Review</div>
				<div class="panel-body">
					<%-- form --%>
					<form class="form-horizontal" role="form" action="${review_write}" method="post">
						<div class="form-group">
							<label class="control-label col-sm-2">작성자(ID):</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="id" name="id" value="<%=id %>" placeholder="ID">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">제목:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="review_title"
									name="review_title" placeholder="Title">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">상품번호:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="product_num" name="product_num" value="<%=product_num %>" placeholder="상품번호">
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2" for="pwd">내용:</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="5"	placeholder="review_content" name="review_content" id="review_content"></textarea>
							</div>
						</div>
	
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<div class="radio">
								
									<label class="radio-inline"> <input type="radio" name="review_star" id="review_star" value="1" checked="checked">★☆☆☆☆</label>
									<label class="radio-inline"> <input type="radio" name="review_star" id="review_star" value="2">★★☆☆☆</label>
									<label class="radio-inline"> <input type="radio" name="review_star" id="review_star" value="3">★★★☆☆</label>
									<label class="radio-inline"> <input type="radio" name="review_star" id="review_star" value="4">★★★★☆</label>
									<label class="radio-inline"> <input type="radio" name="review_star" id="review_star" value="5">★★★★★</label>
									
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" class="btn btn-success">작 성</button>
								<button type="reset" class="btn btn-danger">초기화</button>
							</div>
						</div>
					</form>


				</div>

			</div>
		</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  <!-- Modal2 _ read review -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Review Detail // 2 </h4>
        </div>
        <div class="modal-body">
                   	
          <textarea rows="10" class="form-control" readonly="readonly" id="content"></textarea>	
                    
        </div>
        <div class="modal-footer">
<!--           <button type="button" class="btn btn-success" onclick="return confirm('추천하시겠습니까?')" onclick="location.href='./NewFile.jsp'">추천 </button> -->
          <a onclick="return confirm('추천하시겠습니까?')" href="./product/likeAction.jsp?review_num=2">추천</a>	
          <button type="button" class="btn btn-danger" onclick="review_delete()">Delete</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        	
        </div>
      </div>
      
    </div>
  </div>
	</div>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   

</body>
</html>