/* MYPAGE > MAIN */
.mypage-head {overflow:hidden;position:relative;width:100%;height:120px;margin:30px 0 0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/bg_head_mypage.gif") no-repeat 0 0;}
.mypage-head h1.tit {float:left;font-size:0;line-height:0;}
.mypage-head h1.tit a {display:inline-block;width:170px;height:120px;padding:42px 0 0 0;color:#fff;font-size:32px;line-height:40px;text-align:center;}
.mypage-head .text {float:left;width:270px;padding:32px 0 0 30px;color:#fff;font-size:18px;line-height:28px;}
.mypage-head .text span {display:inline-block;color:#35b1ff;vertical-align:top;}
.mypage-head .text strong {display:inline-block;width:55px;height:22px;margin:4px 0 0 8px;border:1px solid #b9bb0c;color:#b9bb0c;text-align:center;font-size:12px;line-height:20px;vertical-align:2px}
.mypage-head .infor {overflow:hidden;float:right;}
.mypage-head .infor > li {float:left;position:relative;width:140px;height:120px;padding-top:40px;border-left:1px solid #3d3d3d;text-align:center;cursor:pointer;}
.mypage-head .infor > li:first-child {width:auto;border-left:0;padding-top:30px}
.mypage-head .infor li:first-child ul {float:right;overflow:hidden;padding-right:4px}
.mypage-head .infor li:first-child ul li {position:relative;float:left;margin-right:15px;padding-top:48px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/ico_store.png") no-repeat 50% 0;cursor:pointer;}
.mypage-head .infor > li.cursor-text {cursor:text;}
.mypage-head .infor li:first-child ul li .new {position:absolute;top:0px;right:5px;width:15px;height:15px;padding-right:0;background:#ff0000;border-radius:15px;color:#fff;font-size:10px;line-height:14px;text-align:center}
.mypage-head .infor li:first-child ul li:first-child {text-align:Center}
.mypage-head .infor li:first-child ul li a {display:inline-block;width:60px;padding-right:10px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow7x11.png") no-repeat 100% 2px;color:#fff;font-size:12px;line-height:16px;font-weight:700}
.mypage-head .infor li .tit {display:block;color:#fff;font-size:12px;line-height:16px;font-weight:700}
.mypage-head .infor li .num {display:block;color:#ff8336;font-size:18px;line-height:22px;margin-top:8px;font-weight:700}
.mypage-head .infor li .num em {font-weight:400}
.mypage-head .infor li .unit {margin:0 0 0 3px;color:#ccc;font-style:normal;font-size:12px;line-height:16px;}
.mypage-head .infor.execu > li {width:105px;}
.mypage-head .infor.execu > li:first-child {width:auto;}
.mypage-head .infor.execu > li:last-child {display:block;}
.mypage-head .infor.execu > li:last-child .num {color:#b9bb0c;}

.mypage-head.iconGrade1 .text span {color:#c9af64}
.mypage-head.iconGrade2 .text span {color:#fff}
.mypage-head.iconGrade3 .text span {color:#11b761}
.mypage-head.iconGrade4 .text span {color:#89b000}

/* 筌롢끇苡�占쎈뼏 占쎈쾻疫뀐옙/占쎌굺占쎄문 癰귨옙野껓옙 */

.mypage-head.iconGrade1 .infor li:first-child ul li:first-child{background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/icon_rating_gold_on.png") no-repeat center 0;}
.mypage-head.iconGrade2 .infor li:first-child ul li:first-child{background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/icon_rating_black_on.png") no-repeat center 0;}
.mypage-head.iconGrade3 .infor li:first-child ul li:first-child{background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/icon_rating_green_on.png") no-repeat center 0;}
.mypage-head.iconGrade4 .infor li:first-child ul li:first-child{background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/icon_rating_baby_on.png") no-repeat center 0;}

.mypage-head .text span {color:#fff}

.mypage-conts .title-area {padding-top:25px;}
.mypage-conts .list-customer > ul > li > p.stit {padding:20px 0}
.mypage-conts .list-customer > ul > li > p.stit .data {right:0} 
.mypage-conts .infoTxt01{margin-top:10px;font-size:12px;}
.mypage-conts a.order_view:focus{display:inline;}
.mypage-ix {overflow:hidden;width:100%;border:1px solid #ccc;border-top:0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_168x1.gif") repeat-y 0 0;}
.mypage-lnb {float:left;width:169px;height:100%;background:#fafafa;border-right:1px solid #ccc;}
.mypage-lnb > ul {padding:15px 0 28px}
.mypage-lnb > ul > li {padding:14px 0 12px 0;border-top:1px solid #dedede;font-size:0;line-height:0;}
.mypage-lnb > ul > li h2 {padding:0 0 0 20px;color:#222;font-size:16px;line-height:22px;}
.mypage-lnb > ul > li:first-child {border-top:0;}
.mypage-lnb > ul > li:first-child ul {padding:7px 0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_dott6x1.png") repeat-x 0 0;}
.mypage-lnb > ul > li:first-child ul.first {padding-top:0;background:none;}
.mypage-lnb > ul > li ul {margin:4px 20px 0 20px;}
.mypage-lnb > ul > li ul li {padding:6px 0 0 4px}
.mypage-lnb > ul > li ul li a {display:block;color:#666;font-size:13px;line-height:20px}
.mypage-lnb > ul > li ul li.on a, .mypage-lnb > ul > li ul li a:hover {color:#8f9100}
.mypage-conts {float:left;width:850px;min-height:640px;margin:0 0 0 -1px;padding:0 29px 40px;border-left:1px solid #ccc;background:#fff}
.mypage-conts .board-write-2s {width:100% !important;}

.mypage-conts .usage-guide {padding-top:15px}
.mypage-conts .usage-guide h2.stit {display:none}
.mypage-conts .usage-guide li {color:#888} 


/* 雅뚯눖揆獄쏄퀣�꽊 占쎈뼊�⑨옙 */
.mypage-step {overflow:hidden;width:100%;border-bottom:1px solid #e6e6e6;}
.mypage-step li {float:left;position:relative;width:20%;height:119px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow16x20.png") no-repeat 0 50%;font-size:0;line-height:0;}
.mypage-step li:first-child {background:none;}
.mypage-step li em, .mypage-step li span {display:block;position:absolute;left:0;width:100%;text-align:center;vertical-align:top}
.mypage-step li em {top:25px;color:#888;font-style:normal;font-size:40px;line-height:50px;font-weight:700}
.mypage-step li.on em {color:#969937}
.mypage-step li span {top:71px;color:#666;font-size:16px;line-height:22px;}
.area-over .list-customer {width:100% !important;}
.area-over .list-customer ul {border-top:0;}
.area-over .list-customer ul li {background:none;}
.area-over .list-customer ul li.open .stit {}
.area-over .list-customer ul li a {display:inline-block;overflow:hidden;width:200px;color:#222;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;font-weight:400}
.area-over .list-customer ul li a > br {display:none}
.area-over .list-customer ul li .stit .data {margin:0;}
.area-over .list-customer ul li.nodata {padding:80px 0 !important;background:none !important}

/* �뜎醫뤿？ */
.coupon-go {overflow:hidden;width:100%;height:80px;padding:20px 0;background:#888;border-radius:5px}
.coupon-go li {overflow:hidden;float:left;width:50%;padding:0 20px;border-left:1px solid #a0a0a0}
.coupon-go li:first-child {border:0;}
.coupon-go li p, .coupon-go li a {font-size:14px;line-height:20px;}
.coupon-go li p {float:left;color:#fff;}
.coupon-go li a {float:right;width:124px;height:31px;margin:5px 0 0;padding:6px 0 0;border-radius:4px;background:#fff;color:#666;text-align:center;}
.coupon-go li+li a {color:#8f9100}
.ButtonCoupon {width:auto !important;margin:18px 0 6px;padding:0 19px 0 0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_coupon14x14.png") no-repeat 99% 50%;color:#888;font-size:12px;line-height:18px;}

.coupon-inner {display:inline-block;width:113px;height:55px;padding:16px 0 0;color:#222;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/@coupon113x55.png") no-repeat 0 0;line-height:22px;vertical-align:top;text-indent:-5px;font-weight:700}
.coupon-inner.percent {font-size:16px;}
.coupon-inner.free {font-size:15px;}
.coupon-inner.price {font-size:16px;}
.coupon-inner.price em {display:inline-block;font-size:15px;font-style:normal;vertical-align:1px;text-indent:0;}

.comm1sTabConts {display:none}
.comm1sTabConts.show {display:block}

/* 占쎈７占쎌뵥占쎈뱜 */
.point-cjone {overflow:hidden;width:100%;border:1px solid #e6e6e6;border-radius:5px;}
.point-cjone li {overflow:hidden;float:left;width:231px;height:27px;margin:26px 0 0;padding:4px 0 0;border-left:1px solid #e4e4e4;font-size:0;line-height:0;}
.point-cjone li:first-child {width:554px;height:auto;margin:0;padding:22px 0 16px;border:0;}
.point-cjone li .tit {float:left;height:34px;margin:0 0 0 30px;padding:8px 0 0 48px;color:#222;font-size:18px;line-height:22px;}
.point-cjone li .num {float:right;margin:0 20px 0 0;color:#fe8840;font-size:34px;line-height:40px;font-weight:700}
.point-cjone li .num em {display:inline-block;margin:0 0 0 3px;font-style:normal;font-size:20px;line-height:26px;vertical-align:-1px;}
.point-cjone li .txt {float:left;margin:0 0 0 20px;color:#666;font-size:14px;line-height:18px;}
.point-cjone li a.btn {float:right;margin:0 30px 0 0;padding:0 18px 0 0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow7x11_green.png") no-repeat 100% 3px;color:#969937;font-weight:700;font-size:14px;line-height:18px;}
.point-cjone li span.btn {float:right;margin:0 30px 0 0;color:#666;font-size:16px;line-height:22px;}
.point-cjone+.search-period {margin-top:20px}

/* 占쎌굙燁살꼵�닊 */
.deposit-area {overflow:hidden;width:100%;padding:16px 0 22px;border:1px solid #e6e6e6;border-radius:5px;text-align:center;}
.deposit-area .tit {display:inline-block;height:34px;margin:0 0 0 30px;padding:8px 0 0 48px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_won34x34.png") no-repeat 0 50%;color:#222;font-size:18px;line-height:22px;vertical-align:middle;}
.deposit-area .num {display:inline-block;margin:0 0 0 24px;color:#fe8840;font-size:34px;line-height:40px;vertical-align:middle;font-weight:700}
.deposit-area .num em {display:inline-block;font-style:normal;font-size:18px;line-height:26px;vertical-align:2px}

.deposit-area+.search-period {margin-top:20px}

/* CJ 占쎄맒占쎈�방쾮占� 占쎌읈占쎌넎 */
.gift-area {overflow:hidden;width:100%;padding:26px 30px 30px;border:1px solid #e6e6e6;border-radius:5px;}
.gift-area p {color:#333;font-size:14px;line-height:20px;}
.gift-area .btn {display:inline-block;width:130px;height:38px;margin:16px 0 0;padding:8px 0 0;border:1px solid #ddd;border-radius:5px;background:#f6f6f6;color:#666;font-size:14px;text-align:center;line-height:20px;vertical-align:top;}

/* 占쎄맒占쎈�뱄옙猷� */
.review-area {overflow:hidden;width:100%;margin:10px 0 0;padding:30px 0;border-radius:5px;border:1px solid #e6e6e6;}
.review-area li {overflow:hidden;float:left;width:302px;height:18px;padding:0 35px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x18.gif") no-repeat 0 0;}
.review-area li:first-child {width:250px;background:none;}
.review-area li:last-child {float:right;width:233px;}
.review-area li .txt {display:inline-block}
.review-area li .point {display:inline-block;margin-left:10px}
.review-area li .point em {display:inline-block;color:#f47330;margin-left:4px;font-style:normal;}
.review-area li:last-child .point em {margin-left:0}

.notice-text {margin:30px 0 0;padding:0 0 0 10px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_4x4.gif") no-repeat 0 7px;}
.reviews-write {width:100%;margin:20px 0 0;padding:10px;border-radius:5px;border:1px solid #d0d0d0;}
.reviews-write textarea {width:100%;height:110px;padding:0 0 0;border:0;color:#888;font-size:13px;line-height:18px;}
.reviews-write p {margin-top:10px;padding:9px 0 4px;border-top:1px solid #e5e5e5;color:#888;font-size:12px;line-height:18px;}
.reviews-data {width:100%;height:174px;margin:20px 0 0;padding:10px;border-radius:5px;border:1px solid #d0d0d0;background:#f6f6f6;color:#888;font-size:13px;line-height:22px;}
.reviews-editor {width:100%;margin:20px 0 0;border-radius:5px;border:1px solid #d0d0d0;}
.reviews-editor .editor {width:100%;height:41px;padding:13px 0 0 17px;border-bottom:1px solid #ccc;}
.reviews-editor textarea {width:100%;height:110px;margin:10px 0 0;padding:0 10px 0;border:0;color:#888;font-size:12px;line-height:18px;}
.reviews-editor p {margin:10px;padding:9px 0 4px;border-top:1px solid #e5e5e5;color:#888;font-size:12px;line-height:18px;}
.reviews-score {width:100%;margin:17px 0 0;padding:20px 0 0;border-top:1px solid #e6e6e6;text-align:center;}
.reviews-score .tit {display:inline-block;margin:0 15px 0 0;color:#f47330;font-size:20px;line-height:28px;vertical-align:middle;}
.reviews-score .score {display:inline-block;vertical-align:middle;}

.reviews-score .score .btn_score {display:inline-block;width:30px;height:29px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_score.png") no-repeat 100% 0;text-indent:-9999px}
.reviews-score .score .btn_score+.btn_score {margin-left:4px}
.reviews-score .score .btn_score.sel {background-position:0 0}

.reviews-point {overflow:hidden;width:100%;margin:30px 0 0;padding:13px 0;border-radius:5px;border:1px solid #e6e6e6;}
.reviews-point li {float:left;width:30%;font-size:0;text-align:center;line-height:0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x18.gif") no-repeat 0 50%;}
.reviews-point li:first-child {width:40%;background:none;}
.reviews-point li span {display:block;color:#666;font-size:14px;line-height:23px;vertical-align:middle;}
.reviews-point li span em {display:inline-block;margin:0 0 0 5px;color:#f47330;font-style:normal;vertical-align:middle;}

/* 占쎌뒭占쎈젶甕곕뜇�깈 野껓옙占쎄퉳 */
.TabsOpenArea .comm4sTabs {margin-top:14px}
.TabsOpenArea .board-list-4s tbody td:first-child {color:#ee782f;}

.address-input {overflow:hidden;}
.address-input li {overflow:hidden;padding:10px 0 0;font-size:0;line-height:0;}
.address-input li select {width:211px;height:28px;color:#222;font-size:12px;line-height:16px;}
.address-input li select:last-child {float:right;}
.address-input li select:first-child {}
.address-input li input[type="text"] {width:332px;height:28px;color:#222;font-size:12px;line-height:16px;}
.address-input li input[type="text"]::-webkit-input-placeholder {color:#333;}
.address-input li button, .address-input li input[type="submit"] {float:right;width:90px;height:28px;border-radius:5px;background:#fff;border:1px solid #969937;color:#969937;font-size:12px;line-height:16px;}

.schGuideTit{margin-top:20px;padding-left:11px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/bul_sch_post_guide.gif") 1.33% 50% no-repeat;background-size:3px 3px;font-size:12px;font-weight:bold;color:#666;letter-spacing:-0.5px}
.schGuide{margin-top:10px;border:1px solid #e4e4e4}
.schGuide dt, .schGuide dd{padding:13px 15px;letter-spacing:0;font-size:12px}
.schGuide dt{font-weight:bold;color:#333}
.schGuide dt i{margin-left:5px;font-style:normal;color:#979900}
.schGuide dd{border-top:1px solid #e4e4e4;font-weight:bold;color:#888}
.schGuide dd em{font-style:normal;color:#333}
.schGuide dd i{font-style:normal;color:#979900}
.schGuide .board-list-4s tr td{border-bottom:0}
.schGuide + .scroll-w285.hide{display:none}
.schResultNum{margin-top:5px;font-size:12px;color:#888}
.schResultNum i{font-style:normal;color:#979900}

/* 雅뚯눖揆獄쏄퀣�꽊 鈺곌퀬�돳 */
.area-over .ButtonBasic {position:absolute;bottom:10px;right:0;font-weight:700}
.area-over .ButtonBasic.fob:focus{border:1px solid #888;outline:thin dotted;outline: -webkit-focus-ring-color auto 5px;}

/* �뿆�뫁�꺖&獄쏆꼹萸�&�뤃癒곗넎 占쎄땀占쎈열 */
.completed-area {padding:95px 0 100px;border-bottom:1px solid #e6e6e6;}
.completed-guide {color:#333;font-size:26px;text-align:center;line-height:32px;}
.completed-guide em {display:inline-block;color:#969937;font-style:normal;vertical-align:top;}
.completed-guide span {display:block;padding:12px 0 0;color:#666;font-size:14px;line-height:22px;vertical-align:top;}
.infor-data {overflow:hidden;width:100%;padding:19px 0;border-radius:5px;border:2px solid #e6e6e6;}
.infor-data li {float:left;padding:0 0 0 30px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x14.gif") no-repeat 0 2px;font-size:0;line-height:0;}
.infor-data li:first-child {padding:0 30px 0 20px;background:none;}
.infor-data li span, .infor-data li strong {display:inline-block;vertical-align:top;font-size:14px;line-height:18px;}
.infor-data li span.txt{color:#888;font-size:12px;}
.infor-data li span.txt:before{content:'(';display:inline-block;padding-left:5px;padding-right:2px;}
.infor-data li span.txt:after{content:')';display:inline-block;padding-left:2px;}
.infor-data li span.txt em{font-style:normal;padding-right:2px;}
.infor-data li strong {margin:0 0 0 20px;border-bottom:1px solid #969937;color:#969937;}
.infor-data li:first-child strong {border-bottom:0;color:#222;}
.price-conts {}
.price-conts .list {overflow:hidden;position:relative;padding:0 0 30px;border:1px solid #efefef;border-top:2px solid #969937;border-bottom:0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/mypage/bg_conts.png") repeat-y 0 0;}
.price-conts .list > li {float:left;width:33.5%;height:100%;font-size:0;text-align:center;line-height:0;}
.price-conts .list > li:first-child {width:33%;}
.price-conts .list > li dl {overflow:hidden;height:95px;}
.price-conts .list > li dl dt, .price-conts .list > li dl dd {display:block;width:100%;vertical-align:top;}
.price-conts .list > li dl dt {padding:37px 0 0;color:#666;font-size:16px;line-height:22px;font-weight:700}
.price-conts .list > li dl dd {padding:8px 0 0;color:#f47330;font-size:24px;line-height:30px;font-weight:700}
.price-conts .list > li dl dd em {display:inline-block;font-style:normal;font-size:16px;line-height:22px;vertical-align:2px;letter-spacing:0;margin-left:2px}
.price-conts .list > li ul {padding:17px 0 0;}
.price-conts .list > li ul li {overflow:hidden;padding:8px 20px 0;font-size:0;text-align:left;line-height:0;}
.price-conts .list > li ul li .txt, .price-conts .list > li ul li .won {color:#888;font-size:12px;line-height:14px;vertical-align:top;}
.price-conts .list > li ul li .txt {float:left;padding:0 0 0 12px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_L7x7.png") no-repeat 0 4px;}
.price-conts .list > li ul li .link {display:inline-block;margin:0 0 0 8px;vertical-align:0;border-bottom:1px solid #9ea000;color:#9ea000;}
.price-conts .list > li ul li .won {float:right;}
.price-conts .list > li ul li .won em {display:inline-block;font-style:normal;vertical-align:top;}
.price-conts.twoType {}
.price-conts.twoType .list {background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x3.gif") repeat-y 50% 0;}
.price-conts.twoType .list > li {width:50%;}
.price-conts.phrases .list {padding:0;background:none;border-left:0;border-right:0;border:1px solid #efefef;border-top:2px solid #969937;}
.price-conts.phrases .list li {display:none;}
.price-conts .list li.nodata {display:none;}
.price-conts.phrases .list li.nodata {display:block;padding:36px 0 36px !important;background:#fff !important;color:#666 !important;font-size:16px !important;line-height:22px !important;}
.price-conts.phrases .price-sum, .price-conts.phrases .point-earn {display:none;}
.price-conts.phrases .price-plus {display:none;}

.price-sum {overflow:hidden;padding:20px 20px 27px 0;border-top:2px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#f6f6f6;text-align:right;}
.price-sum strong{display:inline-block;margin:0 0 0 15px;color:#222;font-size:22px;line-height:28px;vertical-align:middle;}
.price-sum div > .ButtonBasic {width:70px;vertical-align:middle}
.price-sum span {display:inline-block;margin:0 0 0 18px;color:#ff2828;font-size:24px;line-height:32px;vertical-align:-3px;font-weight:700}
.price-sum span em {display:inline-block;font-style:normal;font-size:16px;line-height:22px;vertical-align:2px;margin-left:2px}
.price-sum .txt {margin:2px 0 0;color:#666;font-size:12px;line-height:18px;vertical-align:middle;}
.price-sum ul {padding:4px 0 0;}
.price-sum ul li {font-size:0;line-height:0;}
.price-sum ul li .txt {width:120px;padding:0 0 0 12px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_L7x7.png") no-repeat 0 4px;text-align:left;}
.price-sum ul li .won {color:#666;font-size:12px;line-height:14px;}
.price-sum ul li .won em {color:#666;font-size:12px;line-height:14px;vertical-align:0;}


.price-plus {overflow:hidden;padding:11px 0 20px;border:1px solid #efefef;border-bottom:2px solid #d6d6d6;text-align:right;}
.price-plus p {overflow:hidden;padding:6px 0 0 66.5%;}
.price-plus p span {display:inline-block;vertical-align:middle;color:#666;font-size:12px;line-height:16px;}
.price-plus p .txt {float:left;padding:0 0 0 20px;}
.price-plus p .won {float:right;padding:0 20px 0 0;}
.price-plus p span em {display:inline-block;vertical-align:top;font-style:normal;}


.list-text {overflow:hidden;width:100%;border-top:2px solid #d6d6d6;}
.list-text li {overflow:hidden;min-height:72px;height:auto;padding:17px 0;border-bottom:1px solid #e6e6e6;font-size:0;line-height:0;}
.list-text li .num {float:left;width:18px;height:18px;margin:10px 0 0 20px;border-radius:3px;background:#9ea000;color:#fff;font-size:12px;text-align:center;line-height:18px;}
.list-text li p {float:left;padding:0 0 0 20px;color:#9ea000;font-size:14px;line-height:18px;}
.list-text li p span {display:block;padding:2px 0 0;color:#666;font-size:12px;line-height:16px;vertical-align:top;}
.point-earn {padding:17px 20px 18px 0;border-bottom:1px solid #e6e6e6;color:#222;font-size:14px;line-height:18px;text-align:right;}
.point-earn em {color:#f47330;font-style:normal;}

.list-text.type li {min-height:auto;}
.list-text.type li p {font-size:14px;line-height:18px;color:#666;}
.list-text.type li p span {display:inline-block;padding-top:0;font-size:14px;line-height:18px;}


/* 獄쏄퀣�꽊筌욑옙 癰귨옙野껓옙. */
.address-modify {overflow:hidden;width:100%;margin:20px 0 0;padding:13px 0;border-radius:5px;border:2px solid #e6e6e6;}
.address-modify li {float:left;font-size:0;text-align:center;line-height:0;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_1x30.gif") no-repeat 0 50%;}
.address-modify li:nth-child(1) {width:28%;background:none;}
.address-modify li:nth-child(2) {width:32%;}
.address-modify li:nth-child(3) {width:40%;}
.address-modify li strong {display:block;color:#222;font-size:13px;line-height:20px;vertical-align:middle}
.address-modify li span {display:inline-block;color:#969937;font-style:normal;font-size:13px;line-height:20px;vertical-align:middle;}

/* 獄쏄퀣�꽊鈺곌퀬�돳 */
.goods-lookup {overflow:hidden;width:100%;}
.goods-lookup li {position:relative;width:100%;padding:13px 10px 13px 95px;border-bottom:1px solid #e6e6e6;font-size:0;line-height:0;}
.goods-lookup li .image {position:absolute;left:10px;top:13px;width:85px;height:85px;}
.goods-lookup li .image img {width:85px;height:85px;}
.goods-lookup li .area {display:table-cell;width:300px;height:85px;padding:0 0 0 20px;vertical-align:middle;}
.goods-lookup li .area .name {color:#333;font-size:14px;line-height:20px;}
.goods-lookup li .area .option,
.goods-lookup li .area .qty {color:#888;font-size:12px;line-height:20px;}
.goods-lookup li .area .qty em.tit {font-style:normal}
.goods-lookup li .area .qty em.tit:after {content: '';display: inline-block;width: 1px;height: 10px;background: #cccccc;margin: 0 7px 1px;vertical-align: middle;}

/* 占쎌돳占쎌뜚占쎌젟癰귨옙 占쎈땾占쎌젟 */
.member-area {width:100%;margin:16px 0 0;padding:0 30px;border-radius:5px;border:1px solid #e6e6e6;}
.member-area dl {overflow:hidden;width:100%;padding:30px 0;}
.member-area dl dt, .member-area dl dd {float:left;font-size:14px;line-height:20px;vertical-align:middle;}
.member-area dl dt {padding:8px 18px 0 0;color:#222;}
.member-area dl dd {margin:0 37px 0 0;}
.member-area ul {padding:20px 0;}
.member-area ul li {padding:10px 0;color:#222;font-size:0;line-height:0;}
.member-area ul li span {display:inline-block;width:135px;font-size:14px;line-height:20px;vertical-align:middle;}
.member-area ul li label {display:inline-block;width:65px;color:#222;font-size:14px;line-height:20px;vertical-align:middle;}
.member-area ul li input[type="radio"] {display:inline-block;margin:0 6px 0 0;vertical-align:middle;}
.member-area .btn {display:inline-block;width:113px;height:38px;padding:7px 0 0;border-radius:5px;border:1px solid #ddd;background:#f6f6f6;color:#666;text-align:center;}
.member-area .txt {position:relative;margin-top:10px;padding:26px 0 27px;border-top:1px solid #e6e6e6}
.member-area .txt p {font-size:13px;line-height:16px;}
.member-area .txt .color {color:#f47330;}
.member-area .txt .btn {position:absolute;top:16px;right:0;}
.member-area .radioBox {margin-top:20px;padding:10px 0;}
.member-area .radioBox span {display:inline-block;font-size:14px;line-height:20px;color:#333;}
.member-area .radioBox input[type="radio"] {margin-left:40px;vertical-align:middle;}
.member-area .radioBox span+ input[type="radio"] {margin-left:6px;}
.member-area2{padding-bottom:30px;}
.member-area2 .chkBox {position:relative;padding-top:25px;height:70px;}
.member-area2 .chkBox .sub-title4{width:auto;display:inline-block;}
.member-area2 .chkBox span{display:inline-block;font-size:14px;line-height:30px;color:#333;}
.member-area2 .chkBox input[type="checkbox"] {margin:0 10px 0 20px;vertical-align:middle;}
.member-area2 .chkBox span+ input[type="checkbox"] {margin-left:18px;}
.member-area2 .chkBox .btn {position:absolute;top:40px;right:0;display:inline-block;width:113px;height:38px;padding:7px 0 0;border-radius:5px;border:1px solid #ddd;background:#f6f6f6;color:#666;text-align:center;}
.member-area2  p{padding-top:10px; padding-left: 5px;}
.member-area2 a{margin: 30px 280px 0;top:40px;right:0;display:inline-block;width:113px;height:38px;padding:7px 0 0;border-radius:5px;border:1px solid #ddd;background:#f6f6f6;color:#666;text-align:center;}
.member-area2 a.btn.ac{margin:0 auto;margin-top:30px;display:block;width:113px;height:38px;padding:7px 0 0;border-radius:5px;border:1px solid #ddd;background:#f6f6f6;color:#666;text-align:center;}
.member-area .tbl_agree {margin-top:10px;border:1px solid #e4e4e4;border-top:2px solid #d6d6d6;border-left:0;}
.member-area .tbl_agree tr th {height:38px;padding:9px 0;border-left:1px solid #e4e4e4;font-weight:400;background-color:#fafafa;font-size:14px;line-height:20px;color:#666;}
.member-area .tbl_agree tr td {padding:15px 20px;border-top:1px solid #e4e4e4;border-left:1px solid #e4e4e4;font-size:12px;line-height:20px;color:#666;vertical-align:top;}


/* 占쎌돳占쎌뜚占쎄퉱占쎈닚 */
.secess-area {width:100%;margin:10px 0 0;padding:15px 20px 27px;border-radius:5px;border:1px solid #e6e6e6;}
.secess-area li {margin:10px 0 0;padding:0 0 0 8px;background:url("https://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_black2x2.gif") no-repeat 0 9px;color:#666;font-size:13px;line-height:20px;}

/* 紐⑸줉 議고쉶 */
/* 怨좉컼�꽱�꽣 > 1:1臾몄쓽 > 紐⑸줉 */
.search-period {overflow:hidden;position:relative;width:100%;margin:20px 0 0;padding:20px;background:#ececec;box-sizing:border-box;border-radius:5px}
.search-period .select-month {overflow:hidden;}
.search-period .select-month li {float:left;width:70px;height:28px;margin:0 0 0 -1px;font-size:0;line-height:0;}
.search-period .select-month li:first-child {margin:0;}
.search-period .select-month button {width:100%;height:28px;border:1px solid #d0d0d0;background:#fff;color:#222;font-size:12px;font-weight:400}
.search-period .select-month li:first-child button {border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search-period .select-month li:last-child button {border-top-right-radius:5px;border-bottom-right-radius:5px;}
.search-period .select-month li.on button {border:1px solid #848484;background:#848484;color:#fff;}
.search-period .select-range {padding:10px 0 0;line-height:38px}
.search-period .select-range select {height:28px;padding-right:0;color:#222;font-size:12px;line-height:16px;vertical-align:middle}
.search-period .select-range label {display:inline-block;margin:0 11px 0 1px;color:#222;font-size:12px;line-height:16px;}
.search-period .select-range .des {margin:0 15px 0 10px;}
.search-period button.btnLookup,
.search-period input[type="submit"] {display:inline-block;position:absolute;top:0;right:0;width:85px;height:100%;background:#969937;border-radius:0;border-top-right-radius:5px;border-bottom-right-radius:5px;color:#fff;font-size:16px;line-height:22px;}
.search-period.mgT30 {margin-top:20px !important}


.sub_title_area h1 {padding:38px 0 0;font-size:40px;color:#000;line-height:44px}
.sub_title_area h1 > span {color:#333;font-size:18px;margin-left:5px;font-weight:400}

.sub-title3 {width:1020px;margin:0 auto;padding:27px 0 10px;color:#4c4c4c;font-size:18px;line-height:22px;}
.sub_title_area.customer h1 {float:left;padding:28px 0 0}
.sub_title_area.customer {height:100px;background:#faeee1 url("http://image.oliveyoung.co.kr/pc-static-root/image/top/bg_customer_top.png") no-repeat 50% 0}
.sub_title_area.customer:before {height:100px;background:#faeee1}
.sub_title_area.customer:after {content:'';display:block;clear:both}
.sub_title_area.customer h1 {float:left;padding:28px 0 0}
.sub_title_area.customer button.btn_inquiry {float:right;width:190px;height:48px;margin-top:26px;padding-left:30px;color:#fff;font-size:16px;line-height:46px;background:#f39251 url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_inquiry2.png") no-repeat 37px 13px;border-radius:24px}
.sub_title_area.customer button.btn_inquiry > em {font-style:normal;font-size:14px;font-family:'noto';font-weight:400}

/* 怨좉컼�꽱�꽣 > �쉶�썝&硫ㅻ쾭�떗 �꺆 */
.comm1sTabs.customer {overflow:hidden;height:55px;margin:30px 0 0;padding-bottom:5px}
.comm1sTabs.customer > li {position:relative;float:left;width:340px;text-align:center;border:0}
.comm1sTabs.customer > li+li {width:341px;margin-left:-1px}
.comm1sTabs.customer > li > a {display:block;height:50px;padding:0;line-height:50px;background:#f6f6f6;font-size:18px;color:#666;font-weight:400;border-left:1px solid #e6e6e6}
.comm1sTabs.customer > li:first-child > a {border:0}
.comm1sTabs.customer > li.on > a {background:#555 !important;color:#fff;border:0}
.comm1sTabs.customer > li.on:before {position:absolute;content:'';bottom:-5px;left:50%;width:12px;height:5px;margin-left:-6px;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/bg_tab_arrow.png") no-repeat 0 0}

.comm1sTabs.customer+.search-period {margin-top:35px !important}
.area-customer .comm2sTabs {margin-top:35px}

.area-customer .comm2sTabs {overflow:visible;position:relative;height:40px;box-sizing:initial;}
.area-customer .twoTabs {display:none;overflow:hidden;position:absolute;left:0;bottom:-42px}
.area-customer .comm2sTabs > li.on .twoTabs {display:block;}
.area-customer .twoTabs li {float:left;padding:0 12px 0 11px;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/bar1x13_gray.gif") no-repeat 0 0;}
.area-customer .twoTabs li:first-child {background:none;}
.area-customer .twoTabs li button {background:#fff;color:#888;font-weight:400;font-size:16px}
.area-customer .twoTabs li.on button {color:#333;font-weight:bold}
.TabsConts-textus {display:none;}
.TabsConts-textus.on {display:block;}

/* 怨좉컼�꽱�꽣 > FAQ 寃��깋 */
.search-faq {overflow:hidden;width:100%;height:110px;margin:35px 0 0;padding:30px 0 0;background:#f6f6f6;text-align:center}
.search-faq label {display:inline-block;margin:0 20px 0 0;color:#222;font-size:20px;line-height:38px;vertical-align:middle}
.search-faq .input {display:inline-block;overflow:hidden;width:420px;height:48px;border-radius:30px;border:1px solid #ccc;background:#fff;vertical-align:middle;}
.search-faq .input input[type="text"] {float:left;width:75%;height:44px;padding:8px 10px 8px 18px;border:0;font-size:14px;line-height:22px;}
.search-faq .input input[type="text"]:focus {outline:none;}
.search-faq .input input[type="submit"] {float:right;width:25px;height:27px;margin:10px 19px 0 0;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_search25x27.png") no-repeat 0 0;font-size:0;text-indent:-99999px;line-height:0;}


/* 怨좉컼�꽱�꽣 �꺆 */
.comm2sTabs.iconTab {height:40px;margin-bottom:60px}
.comm2sTabs.iconTab > li {width:147px;height:40px }
.comm2sTabs.iconTab > li:first-child {margin-left:0;width:144px}
.comm2sTabs.iconTab > li > button.icon_tab06+.twoTabs,
.comm2sTabs.iconTab > li > button.icon_tab07+.twoTabs {right:0}

.comm2sTabs.iconTab > li.on {border:1px solid #ddd}
.comm2sTabs.iconTab > li.on > button {color:#fff}


/* 怨좉컼�꽱�꽣 > 怨듯넻 寃뚯떆�뙋 */
.list-customer {width:1020px;margin:0 auto;}
.list-customer ul {overflow:hidden;width:100%;border-top:2px solid #888}
.list-customer ul li {background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow21x12_off.png") no-repeat 98% 24px;border-bottom:1px solid #e6e6e6}
.list-customer ul li.nodata {padding:200px 15px 80px;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_nodata104x104.png") no-repeat center 80px;color:#888;font-size:16px;text-align:center;line-height:20px;}
.list-customer ul li .tit, .list-customer ul li .stit {margin-left:20px;padding:20px 0 20px 42px;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_faq14x15.png") no-repeat 0 23px;color:#222;font-size:14px;line-height:18px;cursor:pointer;}
.list-customer ul li .stit {position:relative;margin:0;padding:20px 0 20px 30px;background:none}
.list-customer ul li .tit strong {display:inline-block;width:140px;margin-right:11px;vertical-align:middle;}
.list-customer ul li .stit strong {display:inline-block;width:70px;height:22px;margin:0 20px 0 0;padding:0 4px;border-radius:15px;box-sizing:border-box;text-align:center;background:#888;color:#fff;font-size:12px;line-height:22px}
.list-customer ul li .stit .data {position:absolute;right:60px;color:#888;font-size:14px;line-height:18px;}
.list-customer ul li .conts {display:none;background:#fafafa;border:0;color:#222;font-size:0;line-height:0;}
.list-customer ul li .conts li {padding:28px 30px 25px;background:none;border-top:1px solid #e6e6e6;border-bottom:0}
.list-customer ul li .conts li strong {display:block;font-size:16px;line-height:22px;}
.list-customer ul li .conts li p,
.list-customer ul li .conts li div {padding:0;color:#222;font-size:14px;line-height:22px;}
.list-customer ul li .conts li > ul+p,
.list-customer ul li .conts li > ul+div {padding:15px 0 0}
.list-customer ul li .conts li .phr {position:relative;margin:25px 0 0;padding:28px 0 0;/*background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/bar_dott7x1.gif") repeat-x 0 0;*/border-top:1px dashed #e6e6e6;color:#888;font-size:14px;line-height:18px;}
.list-customer ul li .conts li .btnGreenW {display:inline-block;position:absolute;top:17px;right:0;width:112px;height:38px;padding:4px 0 0;font-size:14px;text-align:center;letter-spacing:-1px;}
.list-customer ul li .conts li.question {padding:28px 30px 25px 62px}
.list-customer ul li .conts li.question strong {color:#666;}
.list-customer ul li .conts li.answer {}
.list-customer ul li .conts li.answer strong {display:block;position:relative;color:#969937}
.list-customer ul li .conts li.answer strong > .answer_date {position:absolute;top:0;right:0;font-size:14px}
.list-customer ul li .conts li.answer strong+p,
.list-customer ul li .conts li.answer strong+div {padding:15px 0 0}

.list-customer ul li .conts li ul {margin:18px 0 0;padding:0 0 0 8px;border:0;border-left:2px solid #ccc;}
.list-customer ul li .conts li ul li {padding:0;border:0;color:#888;font-size:14px;line-height:22px;}
.list-customer ul li .conts li ul li em {display:inline-block;margin:0 6px 0 0;font-style:normal}
.list-customer ul li .conts li ul li.offline{color:#8f9100;font-weight:bold;}
.list-customer ul li.open .conts {display:block;}
.list-customer ul li.open {background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/ico_arrow21x12_on.png") no-repeat 98% 24px;}
.list-customer ul li.open .tit, .list-customer ul li.open .stit {color:#9ea000;font-weight:700}
/* .list-customer ul li.open .stit strong {background:#979900;} */
.list-customer ul li.open .stit .data {}

.list-customer ul li .tit > span.tx_same {color:#969937;font-weight:700}

.list-customer.onenone {margin-top:20px}
.list-customer.onenone ul li .stit.complete strong {background:#969937}
.list-customer.onenone ul li .stit strong {background:#888}
.list-customer.onenone ul li .conts li.question {padding-left:30px}


/* 怨좉컼�꽱�꽣 > 1:1臾몄쓽 > 紐⑸줉 */
.search-period {overflow:hidden;position:relative;width:100%;margin:20px 0 0;padding:20px;background:#ececec;box-sizing:border-box;border-radius:5px}
.search-period .select-month {overflow:hidden;}
.search-period .select-month li {float:left;width:70px;height:28px;margin:0 0 0 -1px;font-size:0;line-height:0;}
.search-period .select-month li:first-child {margin:0;}
.search-period .select-month button {width:100%;height:28px;border:1px solid #d0d0d0;background:#fff;color:#222;font-size:12px;font-weight:400}
.search-period .select-month li:first-child button {border-top-left-radius:5px;border-bottom-left-radius:5px;}
.search-period .select-month li:last-child button {border-top-right-radius:5px;border-bottom-right-radius:5px;}
.search-period .select-month li.on button {border:1px solid #848484;background:#848484;color:#fff;}
.search-period .select-range {padding:10px 0 0;line-height:38px}
.search-period .select-range select {height:28px;padding-right:0;color:#222;font-size:12px;line-height:16px;vertical-align:middle}
.search-period .select-range label {display:inline-block;margin:0 11px 0 1px;color:#222;font-size:12px;line-height:16px;}
.search-period .select-range .des {margin:0 15px 0 10px;}
.search-period button.btnLookup,
.search-period input[type="submit"] {display:inline-block;position:absolute;top:0;right:0;width:85px;height:100%;background:#969937;border-radius:0;border-top-right-radius:5px;border-bottom-right-radius:5px;color:#fff;font-size:16px;line-height:22px;}
.search-period.mgT30 {margin-top:20px !important}


/* TAB */
.TabsConts {display:none;}
.TabsConts.on {display:block;}
.comm1sTabs {overflow:hidden;width:100%;margin:15px 0 0;}
.comm1sTabs.threeSet li {width:33.5%;}
.comm1sTabs.threeSet li:first-child {width:33%;}
.comm1sTabs > li {float:left;width:50%;border-left:1px solid #e3e3e3;border-bottom:2px solid #969937;text-align:center;background:#f6f6f6}
.comm1sTabs > li:first-child {border-left:0}
.comm1sTabs > li > a {display:block;height:50px;padding-top:15px;color:#333;font-size:18px}
.comm1sTabs > li.on {border-left:2px solid #969937;border-top:2px solid #969937;border-right:2px solid #969937;border-bottom:0;background:#fff}
.comm1sTabs > li.on+li {border-left:0}

.comm2sTabs {overflow:hidden;width:100%;margin-top:30px;}
.comm2sTabs > li {float:left;width:50%;height:20px;margin:0 0 0 -1px;background:#fff;box-sizing:border-box;border:1px solid #ddd;}
.comm2sTabs > li:first-child {margin:0;}
.comm2sTabs > li > button {width:100%;height:38px;color:#666;background:#fff;box-sizing:border-box;font-size:14px;line-height:18px;}
.comm2sTabs > li.on {border:2px solid #8f9100;background:#8f9100;}
.comm2sTabs > li.on > button {height:36px;background:#8f9100;color:#fff;}
.comm2sTabs.fiveSet > li {width:205px}
.comm2sTabs.fiveSet > li:first-child {width:204px}
.comm2sTabs.sevenSet > li {width:14.5%;}
.comm2sTabs.sevenSet > li:first-child {width:14%;margin:0;}
.comm2sTabs.sevenSet > li:last-child {width:13.5%;}

.comm3sTabs {}
.comm3sTabs:after {content:'';display:block;clear:both}
.comm3sTabs > li {float:left;margin-left:-1px;border:1px solid #ddd}
.comm3sTabs > li:first-child {margin:0}
.comm3sTabs > li > a {display:block;height:52px;line-height:52px;color:#888;font-size:16px;text-align:center;background:#fff}
.comm3sTabs > li.on > a {position:relative;color:#979900;height:54px;line-height:52px;border:2px solid #babb3b;margin:-1px;z-index:0;font-weight:700}
.comm3sTabs.sixSet > li {width:171px}
.comm3sTabs.sixSet > li:first-child {width:170px}

.comm4sTabs {overflow:hidden;width:100%;margin-top:35px;}
.comm4sTabs > li {float:left;width:50%;height:40px;background:#e6e6e6;box-sizing:border-box;color:#fff;}
.comm4sTabs > li:first-child {margin:0;}
.comm4sTabs > li > button {width:100%;height:38px;color:#666;background:#e6e6e6;box-sizing:border-box;font-size:14px;line-height:18px;color:#666;}
.comm4sTabs > li.on {border:2px solid #8f9100;background:#969937;}
.comm4sTabs > li.on > button {height:36px;background:#969937;color:#fff;}

.comm5sTabs {overflow:hidden;width:1020px;margin:30px auto 0;padding-bottom:5px}
.comm5sTabs li {position:relative;float:left;width:50%;}
.comm5sTabs li button {width:100%;height:50px;background:#f6f6f6;color:#666;font-size:18px;line-height:24px;font-weight:400}
.comm5sTabs li.on button {color:#fff;background:#555 !important}
.comm5sTabs li.on:before {position:absolute;content:'';bottom:-5px;left:50%;width:12px;height:5px;margin-left:-6px;background:url("http://image.oliveyoung.co.kr/pc-static-root/image/comm/bg_tab_arrow.png") no-repeat 0 0}
.comm5sTabs.tab3 li{width:340px;}
.comm5sTabs.tab3 li button{border-left:1px solid #e6e6e6}
.comm5sTabs.tab3 li:first-of-type{border-left:0;}
.comm5sTabs.tab3 li +li{width:341px;margin-left:-1px;}
.comm6sTabs {overflow:hidden;width:100%;padding:10px 0 0;}
.comm6sTabs li {float:left;width:50%;font-size:0;line-height:0;}
.comm6sTabs li a {display:block;width:100%;height:40px;padding:10px 0 0;background:#d0d0d0;color:#fff;font-size:14px;text-align:center;line-height:20px;}
.comm6sTabs li.on a {background:#969937;}

.tabConts {display:none}
.tabConts.show {display:block}

