/*190808 김현정 메인 배너 틀 제작*/
@CHARSET "UTF-8";
*{box-sizing: border-box;}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

#content{
	width: 1020px;
	height: 100%;
	margin: 0 auto;
}

#mainBanner{
	width: 100%;
	height: 450px;
	background-color: aquamarine
}

#mainBanner_Wrap{
	position: absolute;/*body기준*/
	left: 0;/*부모 태그가 마진이잇어서 마진앞으로 당기기*/
	width: 100%;
	min-width: 1020px;
	height: 450px;

}

#mainBanner_Btn{
	z-index: 7;
    position: absolute;
    top: 0;
    width: 1020px;
    left: 50%;
    transform: translateX(-50%);
}

#mainBanner_Btn_Wrap{
	position: absolute;
    left: 20%;
    top: 380px;
}

#mainBanner_Btn Button{
	font-size: 30px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}


#mainBanner_Img{
	position: relative;
	overflow: hidden;
	min-width: 1020px;
	height: 100%;
}

.mainBanner_Img_Wrap{
	margin: 0 auto;
	background-color: bisque;
	width: 1020px;
	height: 100%;
	min-width: 1020px;
	left: 0;
	z-index: 5;
	position:relative;
}

#pauseBtn{
	background:url(../image/ico_autoplay.png) no-repeat 0 0;text-indent:-9999px 
}

.mainBanner_Img_Wrap a{
position: relative;
	left: 50%;
	top: 0;	
}

.mainBanner_Img_Wrap img{
	position: absolute;
	top: 0;
	transform: translateX(-50%);
}

.mainBanner_Img_Text{
	position: relative;
	top: 30px;
	right: 30%;
}

.mainBanner_Img_Text *{
	display: block;
}

.mainBanner_Img_Text *:nth-child(1){
	font-size: 24px;
}
.mainBanner_Img_Text *:nth-child(1)::after{
	content: '';
    display: block;
	background-color: gray;
	width: 15px;
	height: 2px;	
	margin-top: 20px;
	margin-left: 2px;
}

.mainBanner_Img_Text *:nth-child(2){
	margin-top: 20px;
	font-size: 40px;
	line-height: 1.5;
}
.mainBanner_Img_Text *:nth-child(3){
	margin-top: 20px;
	font-size: 30px;
	line-height: 1.5;
}

#mainBannerIndex{
	display: inline-block;
    font-size: 20px;
    height: 100%;
    width: 60px;
    text-align: center;
    line-height: 2;
}

/*메인카테고리*/
#mainCategory_Wrap{
	position: absolute;
	background: rgba(0, 0, 0, 0.5);
	width: 170px;
	height: 450px;
	z-index: 8;
}



#mainCategory_List>li>a{
	display: block;
	height: 30px;
    line-height: 30px;
	font-size: 14px;
	padding: 0 23px 0;
	color: white;
	font-weight: 700;
	font-family: 
}

#mainCategory_List>li>a:last-child{
	height: 35px;
    line-height: 35px;
	font-size: 14px;
	padding: 0 23px 0;
	color: white;
	font-weight: 700;
	background: rgba(1,1,1, 0.5)
}

#mainCategory_List, .subCategory_List{
	margin-top: 25px;
}

#mainCategory_List>li>a:hover, .subCategory_List>li>a:hover{
	background-color: #222222;
	color: white;
}

.subCategory_Wrap{
	position: absolute;
	top:0;
	left:170px;
	background-color: white;
	width: 170px;
	height: 450px;
	z-index: 8;
	border: 1px solid black;
	border-top: none;
	display:none;
}

.subCategory_List>li{
	display: block;
	height: 30px;
    line-height: 30px;
	font-size: 14px;
	font-weight: 700;
}

.subCategory_List a{
	display: block;
	border-left: 23px solid white;
}

.Category_Ad{
	position: absolute;
	top:0;
	left:168px;
	background-color: white;
	width: 200px;
	height: 450px;
	z-index: 8;
	border: 1px solid black;
	border-top: none;
	display: none;
}

.Category_Ad *{
	display: block;
}


.Category_Ad span{
	padding: 0 15px;
}
.Category_Ad span:nth-child(1){
	margin-top: 30px;
	font-size: 14px;
}

.Category_Ad span:nth-child(1)::after{
	content: '';
	display: block;
	width: 58px;
	height: 1px;
	background-color: gray;
	margin-bottom: 20px;
}

.Category_Ad span:nth-child(2){
	font-size: 20px;
	font-weight: 700;
}

.Category_Ad span:nth-child(3){
	font-size: 18px;
	margin-top: 15px;
	line-height: 1.4;
}

.Ad_product_price{
	color: darkgray;
	font-size: 17px;
	text-decoration: line-through;
	font-weight: 300;
	margin-top: 15px;
}

.Ad_discount_price{
	color: orange;
	font-size: 24px;
	font-weight: 700;
	margin-top: 4px;
}

.Category_Ad img{
	margin-top: 30px;
	width: 100%;
	height: 198px;
	max-height: 198px;
}
